@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>Riya Patel</h4>
<h4>Kesha Patel</h4>
<h4>Akhandam Surya Sriharika</h4>
<h4>Deepthi Talluri</h4>


<p>Use this area to provide additional information.</p>
