@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<h4>Kesha Patel - 105130527 - patel1oe@uwindsor.ca</h4>
<h4>Akhandam Surya Sriharika - 105105642 - akhanda@uwindsor.ca</h4>
<h4>Riya Patel - 105144814 - patel22z@uwindsor.ca</h4>
<h4>Deepthi Talluri -105140146 - tallurid@uwindsor.ca</h4>